:root {
  --background-main-color: #c2e7da;
  --background-secondary-color: #600;
  --background-small-items: #060;
  --main-color: #6290c3;
  --text-color: #000046;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: var(--background-main-color);
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.main {
  padding-top: 20px;
}

.main-header {
  text-align: center;
}

.main-title {
  font-weight: 500;
}

h1,
h2 {
  margin: 0;
}
